{:deps {:aliases [:ui :ui-dev]}
 :nrepl
 {:port 3333}

 :jvm-opts ["--sun-misc-unsafe-memory-access=allow"]
 :builds
 {:globo
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :js-options {:js-provider :shadow
                :resolve { "globe.gl" {:target :global :global "Globe"}}}
   ; :closure-defines {app.main/GLOBO_API_BASE_URL "/map"}
   :modules {:globo {:entries [is.galt.globo.ui]}}
   :devtools {}
   :dev {:compiler-options
         {:source-map true
          :warnings-as-errors {:ignore #{spec-tools.* cljs.*}
                               :warnings-types #{:undeclared-var}}
          :closure-defines
          {re-frame.trace.trace-enabled?        true
           day8.re-frame.tracing.trace-enabled? true}}}
   :release {:build-options
             {:ns-aliases {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}}}

